// This file is to be used as part of a Jinja2 template

#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <iostream>


#define DEBUG                                               true
#define USER_FILE_PATH "{{user_file_path}}"

typedef {{ indexer_c_type }} indexed_data_type;

struct {
    {% for field in struct_lst %}
        {{ make_field_name_in_struct(field) }};
    {% endfor %}
} userStruct;

static const size_t SIZE_OF_STRUCT = sizeof(userStruct);
static const size_t SIZE_BEFORE_INDEX = {{sum_str}};

struct nodeBlock {
    {{ indexer_c_type }} userField;
    unsigned long long rrn;
};


template<typename... Args>
void log(const char* message, Args... args);
void log(const char* message);
void log(const std::string message);


int main(int argc, char const *argv[]) {
    // Expected args:
    //      - 0 : TABLE_PATH (str) : path of the table to be indexed
    //      - 1 : COMMAND (int) :
    //              - 0 : User is asking to index table
    //              - 1 : User is asking to print index table
    const std::string TABLE_PATH = std::string(argv[0]);
    const int COMMAND = atoi(argv[1]);

    const std::string INDEX_PATH = TABLE_PATH + std::string("_INDEX");

    ind = Indexer<nodeBlock>();

    return 0;
}


template<typename... Args>
void log(const char* message, Args... args) {
    if (DEBUG)
        printf(message, args...);
}


void log(const char* message) {
    if (DEBUG)
        printf("%s", message);
}

void log(const std::string message) {
    if (DEBUG)
        std::cout << message << '\n';
}
